  /*
 * Copyright (c) 2023 ZitaoTech
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/ext_power.h>


#define DEFAULT 0
#define SYM 1
#define UPPER 2

&sk {
       release-after-ms = <2500>;
   };

/ {
   //单击层1字符，长按层2字符
    behaviors {
        bhm: balanced_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            bindings = <&kp>, <&kp>;
        };
    };

   //单击空格键，长按鼠标左键
    behaviors {
        slcmod: sapce_lclick_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            bindings = <&mkp>, <&kp>;
        };
    };

   //单击ESC，双按Capslock
    behaviors {
        esccapslock: tap_dance_esccapslock {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&kp ESC>, <&kp CLCK>;
        };
    };

    macros {
        //切换程序
        shiftapp: zed_em_shiftapp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>,<&macro_tap &kp TAB>,<&macro_release &kp LALT>;
        };

        //浏览器返回快捷键
        zed_em_back: zed_em_back {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>,<&macro_tap &kp LEFT>,<&macro_release &kp LALT>;
        };

        //切换蓝牙设备0
        zen_em_bt0: zen_em_bt0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &bt BT_SEL 0>,<&macro_tap &to DEFAULT>;
        };

        //切换蓝牙设备1
        zen_em_bt1: zen_em_bt1{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &bt BT_SEL 1>,<&macro_tap &to DEFAULT>;
        };

        //关闭窗口
        zen_em_closewindow: zen_em_closewindow{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =<&macro_press &kp LALT>, <&macro_tap &kp F4>,<&macro_tap &to DEFAULT>,<&macro_release &kp LALT>;
        };

        //返回桌面
        zen_em_todesktop: zen_em_todesktop{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =<&macro_press &kp LGUI>, <&macro_tap &kp M>,<&macro_tap &to DEFAULT>,<&macro_release &kp LGUI>;
        };

        //切换输入法
        zen_em_shiftsrf: zen_em_shiftsrf{
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =<&macro_press &kp LGUI>, <&macro_tap &kp SPACE>,<&macro_tap &to DEFAULT>,<&macro_release &kp LGUI>;
        };
    };

   //长按向上滚动，单击TAP
    behaviors {
        stc0: tap_scrollup_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <250>;
            bindings = <&msc>, <&kp>;
        };
    };

   //长按向下滚动，双击切换程序
    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&msc SCRL_DOWN>, <&shiftapp>;
        };
    };

   //单击鼠标右键，双击浏览器返回
    behaviors {
        td1: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mkp RCLK>, <&zed_em_back>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {

            bindings = <
// -----------------------------------------------------------------------------------------------------------------------------------------------         
//         |    Shoulder Key1    |                                                                             |    Shoulder Key2    |     
// |         Call key      |      Blackberry Key        |    Trackpad    |             Back Key                |             Endcall Key          |
// |     Q      |     W    |     E    |     R    |      T      |       Y        |       U        |        I        |       O      |      P        |     
// |     A      |     S    |     D    |     F    |      G      |       H        |       J        |        K        |       L      |      ←        |  
// |     alt    |     Z    |     X    |     C    |      V      |       B        |       N        |        M        |       $      |    Enter      |   
//        |         aA     |         0           |           SPACE              |         SYM         |        aA          |       
// -----------------------------------------------------------------------------------------------------------------------------------------------

                 &mkp LCLK                                                                                              &esccapslock
         &stc0 SCRL_UP TAB        &td0           &mkp LCLK                   &td1                          &sk LALT
    &bhm HASH Q  &bhm N1 W  &bhm N2 E  &bhm N3 R  &bhm LEFT T       &bhm RIGHT Y   &bhm UNDER U      &bhm MINUS I  &bhm PLUS O  &bhm AT P
    &bhm STAR A  &bhm N4 S  &bhm N5 D  &bhm N6 F  &bhm KP_DIVIDE G  &bhm COLON H   &bhm SEMI J       &bhm DQT K    &bhm APOS L  &kp BSPC
    &sk LSHFT    &bhm N7 Z  &bhm N8 X  &bhm N9 C  &bhm QMARK V      &bhm EXCL B    &bhm COMMA N      &bhm DOT M    &kp RSHFT    &kp ENTER
                 &sk LCTRL        &kp N0             &slcmod LCLK SPACE                &to SYM             &to UPPER
            >;
        };


        sym_layer {

            bindings = <        
        &kp C_VOL_UP                                                                                                    &kp C_VOL_DN
        &stc0 SCRL_UP TAB                 &td0           &mkp LCLK             &td1                                    &sk LALT 
    &kp HASH     &kp N1     &kp N2      &kp N3    &bhm LEFT LPAR    &bhm RIGHT RPAR    &kp UNDER        &kp MINUS        &kp PLUS         &kp AT
    &kp STAR     &kp N4     &kp N5      &kp N6    &kp KP_DIVIDE     &kp COLON          &kp SEMI         &kp DQT          &kp APOS         &kp BSPC
    &sk LSHFT    &kp N7     &kp N8      &kp N9    &kp QMARK         &kp EXCL           &kp COMMA        &kp DOT          &mt C_MUTE DLLR  &kp ENTER
            &sk LCTRL           &kp N0               &slcmod LCLK SPACE                &to DEFAULT           &to UPPER
            >;
        };

        upper_layer {

            bindings = <
        &zen_em_bt0                                                                                                 &zen_em_bt1
        &stc0 SCRL_UP TAB                &td0             &mkp LCLK              &td1                              &bootloader
    &zen_em_closewindow    &kp UP     &zen_em_todesktop   &zen_em_shiftsrf     &kp LBKT     &kp RBKT      &kp LT      &kp GT     &kp PIPE     &kp EQUAL
    &kp LEFT               &kp DOWN   &kp RIGHT           &none                &kp BSLH     &kp AMPS      &kp LBRC    &kp RBRC   &kp CARET    &kp DEL
    &sk LSHFT              &kp PSCRN  &sys_reset          &none                &kp PRCNT    &kp TILDE     &none       &none      &bt BT_CLR   &kp ENTER
            &sk LCTRL         &msc SCRL_UP                  &msc SCRL_DOWN              &to SYM              &to DEFAULT
            >;
        };
    };
}; 
